<!-- uncomment code for absolute positioning tweek see top comment in css -->
<!-- <div class="absolute-wrapper"> </div> -->
<!-- Menu -->
<div class="side-menu" id="siderbar">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="brand-wrapper">
                <!-- Hamburger -->
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Brand -->
                <div class="brand-name-wrapper">
                    <a class="navbar-brand" href="{{ route('cpanel/') }}">
                        SYCPROF
                    </a>
                </div>

                <!-- Search
                <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
                    <span class="fa fa-search"></span>
                </a> -->

                <!-- Search body -->
                <div id="search" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form class="navbar-form" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Buscar...">
                            </div>
                            <button type="submit" class="btn btn-default "><span class="fa fa-check"></span></button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <!-- Main Menu -->
        <div class="side-menu-container">
            <ul class="nav navbar-nav">
                <li class="panel panel-default" id="dropdown">
                    <a data-toggle="collapse" href="#dropdown-lvl1">
                        <i class="fa fa-folder-open"></i> Catálogos<span class="caret"></span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-lvl1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{{ route('cpanel/carrera') }}"><i class="fa fa-list"></i> Carreras</a></li>
                                <li><a href="{{ route('cpanel/division') }}"><i class="fa fa-list-alt"></i> Divisiones</a></li>
                                <li><a href="{{ route('cpanel/docente') }}"><i class="fa fa-address-book"></i> Docentes</a></li>
                                <li><a href="{{ route('cpanel/tipodocumento') }}"><i class="fa fa-files-o"></i> Documentos</a></li>
                                <li><a href="{{ route('cpanel/egresado') }}"><i class="fa fa-files-o"></i> Egresados</a></li>
                                <li><a href="{{ route('cpanel/opciontitulacion') }}"><i class="fa fa-list-ul"></i> Opciones de titulación</a></li>
                                <li><a href="{{ route('cpanel/planestudios') }}"><i class="fa fa-graduation-cap"></i> Planes de estudios</a></li>
                                <li><a href="{{ route('cpanel/proyecto') }}"><i class="fa fa-folder-open"></i> Proyectos</a></li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="panel panel-default" id="dropdown">
                    <a data-toggle="collapse" href="#dropdown-lvl3">
                        <i class="fa fa-edit"></i> Trámite de titulación<span class="caret"></span>
                    </a>
                    <!-- Dropdown level 3 -->
                    <div id="dropdown-lvl3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ route('cpanel/proyecto/validar') }}"><i class="fa fa-check"></i> Validar solicitudes</a></li>
                                <li><a href="{{ route('cpanel/proyecto/dictamen') }}"><i class="fa fa-files-o"></i> Dictamen del proyecto</a></li>
                                <li><a href="{{ route('cpanel/proyecto/liberar') }}"><i class="fa fa-file-text-o"></i> Liberación del proyecto</a></li>
                                <li><a href="{{ route('cpanel/proyecto/examen') }}"><i class="fa fa-gavel"></i> Examen profesional</a></li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="panel panel-default" id="dropdown">
                    <a data-toggle="collapse" href="#dropdown-lvl4">
                        <i class="fa fa-bar-chart"></i> Estadísticas<span class="caret"></span>
                    </a>
                    <!-- Dropdown level 4 -->
                    <div id="dropdown-lvl4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ route('/') }}"><i class="fa fa-dashboard"></i> Generales</a></li>
                                <li><a href="{{ route('/') }}"><i class="fa fa-calendar"></i> Por mes</a></li>
                                <li><a href="{{ route('/') }}"><i class="fa fa-calendar-plus-o"></i> Anuales</a></li>
                                <li><a href="{{ route('/') }}"><i class="fa fa-graduation-cap"></i> Por generación</a></li>
                                <li><a href="{{ route('/') }}"><i class="fa fa-bookmark"></i> Listado por evento</a></li>
                                <li><a href="{{ route('/') }}"><i class="fa fa-book"></i> Programados para titulación</a></li>
                                <li><a href="{{ route('/') }}"><i class="fa fa-tasks"></i> Egresados y titulados</a></li>
                            </ul>
                        </div>
                    </div>
                </li>

                <!-- Dropdown-->
                <li class="panel panel-default" id="dropdown">
                    <a data-toggle="collapse" href="#dropdown-lvl2">
                        <i class="fa fa-cogs"></i> Configuración<span class="caret"></span>
                    </a>

                    <!-- Dropdown level 2 -->
                    <div id="dropdown-lvl2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ route('cpanel/perfil') }}">Perfiles</a></li>
                                <li><a href="{{ route('cpanel/usuario') }}"><i class="fa fa-users"></i> Usuarios</a></li>

                                <!-- Dropdown level 2 -->
                                <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#dropdown-lvl22">
                                        <i class="fa fa-off"></i> Mi cuenta<span class="caret"></span>
                                    </a>
                                    <div id="dropdown-lvl22" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li><a href="{{ route('ccontrasena') }}"><i class="fa fa-key"></i> Cambiar contraseña</a></li>
                                                <li><a href="{{ route('cdatos') }}"><i class="fa fa-id-card"></i> Cambiar mis datos</a></li>
                                                <li><a href="{{ route('logout') }}"><i class="fa fa-sign-out"></i> Cerrar sesión</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>