<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- <link rel="stylesheet" href="{{ resource('bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ resource('css/custom-siderbar.css') }}">
    <link rel="stylesheet" href="{{ resource('font-awesome/css/font-awesome.min.css') }}">
    Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ resource('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ resource('bower_components/font-awesome/css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ resource('bower_components/Ionicons/css/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ resource('dist/css/AdminLTE.min.css') }}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ resource('dist/css/skins/skin-blue-light.min.css') }}">
    <!-- jvectormap -->
    <link rel="stylesheet" href="{{ resource('bower_components/jvectormap/jquery-jvectormap.css') }}">

    <link rel="icon" type="image/png" href="{{ resource('img/logo.png') }}">

    <title>{% block title %} {% endblock %} | SYGPROF</title>
</head>
<body style="background-color: whitesmoke;" class="skin-blue-light fixed">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="{{ route('egresado') }}" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">SYCPROF</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>cPanel</b> SYCPROF</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ resource('dist/img/user.png') }}" class="user-image" alt="User Image">
                                <span class="hidden-xs">Eder Morga</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="{{ resource('dist/img/user.png') }}" class="img-circle" alt="User Image">

                                    <p>
                                        edeermc - Administrador
                                        <small>Último login 25 Oct 1993</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="{{ route('egresado/datospersonales') }}" class="btn btn-default btn-flat">Mis Datos</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{ route('logout') }}" class="btn btn-default btn-flat">Cerrar Sesión</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="container" style="margin-top: 50px;">
            <div class="row">
                <h1 class="text-center">{{ block('title') }}</h1>
                {% block body %} {% endblock %}
            </div>
        </div>

        <footer class="main-footer" style="margin-left: 0; margin-top: 70px;">
            <div class="pull-right hidden-xs">
                <b>Copyright &copy; {{ now | date('Y') }} <a href="https://estudiosprofesionales.net">ITSSAT</a>.</b> Academía ISC.
            </div>
            <b>Version</b> 2.0
        </footer>
    </div>

    <div class="modal fade" id="operationModal" tabindex="-1" role="dialog" aria-labelledby="operationModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center"> <!-- Titulo --> </h4>
                </div>
                <div class="modal-body">
                    <!-- Contenido -->
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send message</button>
                </div> -->
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{ resource('jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ resource('bootstrap/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ resource('js/waitingMessage.js') }}"></script>
    <script type="text/javascript" src="{{ resource('js/request.js') }}"></script>
    <script type="text/javascript" src="{{ resource('js/script.js') }}"></script>
</body>
</html>