{% extends 'Catalogos/catalogo.twig' %}

{% block title 'Listado de egresados' %}

{% block tabla %}
    <table class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>No Control</th>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>Carrera</th>
            <th>Plan Estudios</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="table-content">
        <!-- Contenido de la tabla -->
        {% for d in egresados %}
            <tr>
                <td>{{ d.id }}</td>
                <td>{{ d.getNombreCompleto }}</td>
                <td class="text-center">{{ d.sexo }}</td>
                <td>{{ d.getPlan.getCarrera.nombre }}</td>
                <td>{{ d.getPlan.nombre }}</td>
                <td class="text-right">
                    {% if (d.getDocumentos|length > 0) %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-warning">Documentos</button>
                            <button type="button" class="btn btn-xs btn-warning dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {% for f in d.getDocumentos %}
                                    <li><a href="{{ resource('documentos/') }}{{ to_md5(f.n_control) }}/{{ f.ruta }}" target="_blank">{{ f.getDocumento.nombre }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#operationModal" data-id="{{ d.id }}" data-model="{{ modelo }}" data-operation="Documentos">
                        <i class="fa fa-book"></i> Documentos
                    </button>
                    <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#operationModal" data-id="{{ d.id }}" data-model="{{ modelo }}" data-operation="Editar">
                        <i class="fa fa-edit"></i> Editar
                    </button>
                    <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#operationModal" data-id="{{ d.id }}" data-model="{{ modelo }}" data-operation="Eliminar">
                        <i class="fa fa-trash"></i> Eliminar
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}