{% extends 'estudiante/template.twig' %}

{% block title 'Registrar nuevo usuario' %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h4>
                    {% if (msg == 'ok-register') %}
                        <strong>Genial!</strong> Cuenta activada exitosamente.
                    {% elseif (msg == 'ok-recover') %}
                        <strong>Genial!</strong> Cuenta recuperada exitosamente.
                    {% elseif (msg == 'fail-register') %}
                        El usuario que desea crear ya existe o el correo ha sido ocupado.
                    {% elseif (msg == 'fail-recover') %}
                        El usuario que desea recuperar no existe, ya se encuentra en proceso de recuperación o no ha sido dado de alta.
                    {% elseif (msg == 'register') %}
                        <strong>Ya casi!</strong> Ahora debemos activar su cuenta.
                    {% elseif (msg == 'recover') %}
                        <strong>Ya casi!</strong> Ahora debemos cambiar las credenciales de su cuenta.
                    {% endif %}
                </h4>
            </div>
            <div class="panel-body text-center">
                {% if (msg == 'ok-register') %}
                    Inicia sesión dando click <a href="{{ route('login') }}">aquí</a>.
                {% elseif (msg == 'ok-recover') %}
                    Inicia sesión dando click <a href="{{ route('login') }}">aquí</a>.
                {% elseif (msg == 'fail-register') %}
                    Intente de nuevo con otro dirección de correo electrónico dando click <a href="{{ route('egresado/registro') }}">aquí</a> o recupere su cuenta <a href="{{ route('egresado/recuperar') }}">aquí</a>.
                {% elseif (msg == 'fail-recover') %}
                    Intente de nuevo con otro usuario dando click <a href="{{ route('egresado/recuperar') }}">aquí</a> o registrese <a href="{{ route('egresado/registro') }}">aquí</a>.
                {% elseif (msg == 'register') %}
                    En breve le llegará un correo con un link para validar su cuenta, necesita activarlo para poder iniciar sesión.
                {% elseif (msg == 'recover') %}
                    En breve le llegará un correo con un link para recuperar su cuenta, entre al enlace proporcionado para proceder.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}